---
layout: main
carousel_img_urls: [jack2.jpg, hozier_collage.jpg, jls_collage.jpg, sport_eng_collage.jpg]
brand_imgs: [bmw_logo.png, argos_logo.png, bbc_logo.png, mini_logo.png, mcdonalds_logo.png, Sony.png, Honda-logo.png, hula_hoop_logo.png]
projects: [give_me_the_night, chunky, hozier_trou, honda, hula_hoops, proximity, sport_boxing, sport_paperboy, sport_swim, dishy, hozier, jagmac, jls, emmi, format_b]
---
{% include design.html %}
<span class="title-text">
	choreography/dance
</span>
{% include carousel.html %}
{% include dance_info_top.html %}
{% include dance_projects_menu.html %}
