---
layout: videography
carousel_img_urls: [jack2.jpg, hozier_collage.jpg, jls_collage.jpg, sport_eng_collage.jpg]
brand_imgs: [bmw_logo.png, argos_logo.png, bbc_logo.png, mini_logo.png, mcdonalds_logo.png, Sony.png, Honda-logo.png, hula_hoop_logo.png, adidas.png, pacorabanne.png, v_and_a.png]
projects: [v_and_a, adidas_ext, pacorabanne_inst, france, tadow, ephemeral, we_were_in_love, adidas_inst, pacorabanne_ext, colour_me_gold, ]
---
{% include design.html %}
<span class="title-text">
	videography / editing
</span>
{% include video_info_top.html %}
{% include video_projects_menu.html %}
