<!--CAROUSEL-->
<section id="home" class="text-center">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/img/carousel/hamsted_directing.jpg" alt="" />
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="assets/img/carousel/proximity_front.jpg" alt="" />
                <div class="carousel-caption ">
                </div>
            </div>
            <div class="item">
                <img src="assets/img/carousel/close_up_cropped.jpg" alt="" />
                <div class="carousel-caption ">
                </div>
            </div>
            <div class="item">
                <img src="assets/img/carousel/proximity_side.jpg" alt="" />
                <div class="carousel-caption ">
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
            <li data-target="#carousel-example" data-slide-to="3"></li>
        </ol>
    </div>
</section>
