<div class="carousel">
    <div class="carousel-container">
        <div class="carousel-arrows">
            <div class="carousel-arrow carousel-left">
                <img src="{{ site.img_dir }}/icons/arrow_left.png" alt="arrow" />
            </div>
            <div class="carousel-arrow carousel-right">
                <img src="{{ site.img_dir }}/icons/arrow_right.png" alt="arrow" />
            </div>
        </div>
        <div class="carousel-links">
        {% for img_id in (1..page.carousel_img_urls.size) %}
            {% if forloop.first %}
                <div id="carousel-link{{ img_id }}" class="carousel-link active" data-img-id="{{ img_id }}">
                    <span></span>
                </div>
            {% else %}
                <div id="carousel-link{{ img_id }}" class="carousel-link" data-img-id="{{ img_id }}">
                    <span></span>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="carousel-images">
        {% for url in page.carousel_img_urls %}
            {% assign img_id = forloop.index %}
            {% if forloop.first %}
                <div id="carousel-image{{ img_id }}" class="carousel-image active" style="background-image:url('{{ site.img_dir }}/{{ url }}')">
                </div>
            {% else %}
                <div id="carousel-image{{ img_id }}" class="carousel-image"  style="background-image:url('{{ site.img_dir }}/{{ url }}')">
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
