<div class="projects-menu">
    <div id="tours" class="project-cat">
        <h1>Tours</h1>
        <div class="project-items">
        {% for project_name in page.projects %}
            {% include projects/{{project_name}}.html %}
            {% if proj_class == 'tour' %}
            <div class="project-item">
                <div class="project-item-container">
                    <a href="{{ proj_url }}" class="item-link">
                        <div class="item-img" style="background-image:url('{{ site.img_dir }}/{{ title_img }}')">
                        </div>
                    </a>
                    <div class="item-blurb">
                        <div class="item-title">
                            {{ title }}
                        </div>
                        <div class="item-subtitle">
                            {{ subtitle }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="project-cat" id="commercial">
        <h1>Commercials</h1>
        <div class="project-items">
        {% for project_name in page.projects %}
            {% include projects/{{project_name}}.html %}
            {% if proj_class == 'commercial' %}
            <div class="project-item">
                <div class="project-item-container">
                    <a href="{{ proj_url }}" class="item-link">
                        <div class="item-img" style="background-image:url('{{ site.img_dir }}/{{ title_img }}')">
                        </div>
                    </a>
                    <div class="item-blurb">
                        <div class="item-title">
                            {{ title }}
                        </div>
                        <div class="item-subtitle">
                            {{ subtitle }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="project-cat" id="music_videos">
        <h1>Music videos</h1>
        <div class="project-items">
        {% for project_name in page.projects %}
            {% include projects/{{project_name}}.html %}
            {% if proj_class == 'music_video' %}
            <div class="project-item">
                <div class="project-item-container">
                    <a href="{{ proj_url }}" class="item-link">
                        <div class="item-img" style="background-image:url('{{ site.img_dir }}/{{ title_img }}')">
                        </div>
                    </a>
                    <div class="item-blurb">
                        <div class="item-title">
                            {{ title }}
                        </div>
                        <div class="item-subtitle">
                            {{ subtitle }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

	<div id="personal" class="project-cat">
		<h1>Personal work</h1>
		<div class="project-items">
		{% for project_name in page.projects %}
			{% include projects/{{project_name}}.html %}
			{% if proj_class == 'personal' %}
			<div class="project-item">
				<div class="project-item-container">
					<a href="{{ proj_url }}" class="item-link">
						<div class="item-img" style="background-image:url('{{ site.img_dir }}/{{ title_img }}')">
						</div>
					</a>
					<div class="item-blurb">
						<div class="item-title">
							{{ title }}
						</div>
						<div class="item-subtitle">
							{{ subtitle }}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
