<section id="footer-sec">
    <div class="row" >

        <div class="col-md-12 text-center">
          <h4> <strong>SOCIAL LINKS</strong> </h4>
                  <a href="https://www.facebook.com/jackpointermackenzie"><i class="fa fa-facebook-square fa-2x"></i></a>
                  <a href="https://twitter.com/jackpointermack"><i class="fa fa-twitter-square fa-2x"></i></a>
                  <a href="https://www.youtube.com/c/jackpointermackenzie"><i class="fa fa-youtube-square fa-2x"></i></a>
                  <a href="https://www.instagram.com/jackpointermackenzie"><i class="fa fa-instagram fa-2x"></i></a>
        </div>

        <span id="footer_note">@jackpointermackenzie 2015</span>

    </div>
</section>
