<section id="footer-sec">
    <div class="row" >

        <div class="col-md-12 text-center">
          <h4> <strong>SOCIAL LINKS</strong> </h4>
            <div class="social_links">
                  <a href="https://www.facebook.com/jackpointermackenzie" class="icon_link"><img src="/assets/img/icons/facebook.jpg" class="icon_img"></a>
                  <a href="https://twitter.com/jackpointermack" class="icon_link"><img src="/assets/img/icons/twitter.jpg" class="icon_img"></a>
                  <a href="https://www.youtube.com/c/jackpointermackenzie" class="icon_link"><img src="/assets/img/icons/youtube.jpg" class="icon_img"></a>
                  <a href="https://www.instagram.com/jackpointermackenzie" class="icon_link"><img src="/assets/img/icons/instagram.png" class="icon_img"></a>
            </div>
        </div>

        <span id="footer_note">@jackpointermackenzie 2015</span>

    </div>
</section>
