<div id="footer">
    <div class="footer-main">
        <div id="contact">
            <div>jackpointermackenzie@gmail.com</div>
            <div>+44 (0)7934 792042</div>
        </div>
        <div id="social">
            <a href="https://www.facebook.com/jackpointermackenzie" class="icon_link"><img src="{{ site.img_dir }}/icons/facebook.png" class="icon_img"></a>
            <a href="https://twitter.com/jackpointermack" class="icon_link"><img src="{{ site.img_dir }}/icons/twitter.png" class="icon_img"></a>
            <a href="https://www.youtube.com/c/jackpointermackenzie" class="icon_link"><img src="{{ site.img_dir }}/icons/youtube.png" class="icon_img"></a>
            <a href="https://www.instagram.com/jackpointermackenzie" class="icon_link"><img src="{{ site.img_dir }}/icons/instagram.png" class="icon_img"></a>
        </div>
    </div>
</div>
<div class="footer-sub">
    <span>@jackpointermackenzie2020</span>
</div>
