<section id="gallery">
  <div class="container">

    <div class="row text-center" >
      <div class="col-md-12">
        <div class="row text-center pad-row">
          <h1 class="main-header">Gallery</h1>
        </div>
      </div>
    </div>

    <div class="gall_link_sec">
        <div class="gall_link">
            <h4 class="gall_title">Jack</h4>
            <a href="/jack/gallery/jack.html" class="portfolio-box gallery-link">
              <img src="/jack/assets/img/gallery/jack/jack_main.jpg" class="img-responsive" alt="">
            </a>
        </div>


        <div class="gall_link">
            <h4 class="gall_title">Jack at work</h4>
            <a href="/jack/gallery/at_work.html" class="portfolio-box gallery-link">
              <img src="/jack/assets/img/gallery/at_work/at_work_main.jpg" class="img-responsive" alt="">
            </a>
        </div>


        <div class="gall_link">
            <h4 class="gall_title">Work</h4>
            <a href="/jack/gallery/work.html" class="portfolio-box gallery-link">
              <img src="/jack/assets/img/gallery/work/work_main.jpg" class="img-responsive" alt="">
            </a>
        </div>


      </div>
    </div>
</section>
