<section id="gallery">
  <div class="container-fluid">

    <div class="row text-center" >
      <div class="col-md-12">
        <div class="row text-center pad-row">
          <h1 class="main-header">Gallery</h1>
        </div>
      </div>
    </div>

  <div class="col-lg-4 col-sm-6 project-box">
    <h3>Jack</h3>
    <a href="/jack/gallery/jack.html" class="portfolio-box project-link">
      <img src="/jack/assets/img/gallery/jack/edited_pic.jpg" class="img-responsive" alt="">
    </a>
  </div>

  <div class="col-lg-4 col-sm-6 project-box">
    <h3>Jack at work</h3>
    <a href="/jack/gallery/at_work.html" class="portfolio-box project-link">
      <img src="/jack/assets/img/gallery/at_work/IMG_2146.jpg" class="img-responsive" alt="">
    </a>
  </div>

  <div class="col-lg-4 col-sm-6 project-box">
    <h3>Work</h3>
    <a href="/jack/gallery/work.html" class="portfolio-box project-link">
      <img src="/jack/assets/img/gallery/work/Jack_Dance_Vid-45.jpg" class="img-responsive" alt="">
    </a>
  </div>

  </div>
</section>
