{% assign navbar_items = "Home&/, Projects-Tours&/#tours-Commercials&/#commercial-Music Videos&/#music_videos-Personal work&/#personal, Profile&/about.html, Contact&#footer" | split: ', ' %}

<div id="navbar">
    <div class="nav-title">
        <a href="/" class="nav-title-logo">
            <img src="{{ site.img_dir }}/logos/logo_trans_white.png" alt="JPM" />
        </a>
        <a href="/" class="nav-title-text">Jack Pointer Mackenzie</a>
        <div class="expander-button hidden">
            <img src="{{ site.img_dir }}/icons/menu_dropdown.png" alt="" />
        </div>
    </div>
    <div class="nav-menu">
    {% for navbar_item in navbar_items %}
        {% assign items_content = navbar_item | split: '-' %}
        {% if items_content.size == 1 %}
            {% assign items_data = items_content[0] | split: '&' %}
            <a href="{{ items_data[1] }}" class="menu-item menu-header nav-link">
                {{ items_data[0] }}
            </a>
        {% elsif items_content.size >= 1 %}
            <div class="menu-item menu-header dropdown">
                <div class="dropdown-header">
                    <span class="dropdown-title">{{ items_content[0] }}</span>
                    <div class="dropdown-light">
                    </div>
                </div>
                <div class="dropdown-content hidden">
                {% for dropdown_item in items_content %}
                    {% if forloop.first == false %}
                        {% assign items_data = dropdown_item | split: '&' %}
                        <a href="{{ items_data[1] }}" class="menu-item nav-link">{{ items_data[0] }}</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
