<!--6 IMG BACKGROUND-->
<section class="no-padding" id="projects">
    <div class="container-fluid no-padding">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 no-padding">
                    <img src="assets/img/hozier.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6 no-padding">
                <a href="#" class="portfolio-box">
                    <img src="assets/img/hamsted_dance.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 no-padding">
                <a href="#" class="portfolio-box">
                    <img src="assets/img/jack.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 no-padding">
                <a href="#" class="portfolio-box">
                    <img src="assets/img/jls_jump.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 no-padding">
                <a href="#" class="portfolio-box">
                    <img src="assets/img/green_screen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 no-padding">
                <a href="#" class="portfolio-box">
                    <img src="assets/img/only_fools.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
