<section class="" id="projects">
  <div class="container-fluid ">

    <!-- <div class="row text-center" >
      <div class="col-md-12">
        <div class="row text-center pad-row">
          <h1 class="main-header">Projects</h1>
        </div>
      </div>
    </div> -->

    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6 project-box">
        <a href="#" class="portfolio-box project-link">
          <img src="assets/img/projects/hozier/hozier.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <h3></h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 project-box">
        <a href="#" class="portfolio-box project-link">
          <img src="assets/img/projects/hampsted/hamsted_dance_cropped.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <h3>Hamsted Heath</h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 project-box">
        <a href="#" class="portfolio-box project-link">
          <img src="assets/img/projects/jls/jack.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <h3>JLS</h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 project-box">
        <a href="#" class="portfolio-box project-link">
          <img src="assets/img/projects/onlyfools/only_fools.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <h3>Only Fools and Horses</h3>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
