<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll" href="/jack/#home">
                <img src="/assets/img/jack_logos/logo_black.png" class="logo" alt="">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#projects">Work</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/#footer-sec">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
