<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="/jack/assets/plugins/jquery-1.10.2.js"></script>
<script src="/jack/assets/js/jquery.easing.min.js"></script>
<script src="/jack/assets/js/jquery.fittext.js"></script>
<script src="/jack/assets/js/wow.min.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="/jack/assets/plugins/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="/jack/assets/js/custom.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/jack/assets/js/creative.js"></script>
