<div class="info_top">
    <div class="info_top-text">
        <h2 class="info_top-title">Services</h2>
        <ul>
            <li>Film and edit</li>
            <li>Elevating your brand on all social media sites</li>
			<li>Creating specific edits to cater for your brands/projects need</li>
        </ul>
    </div>
    <div class="brands">
        {% for img_url in page.brand_imgs %}
            <img class="brand" src="{{ site.img_dir }}/{{ img_url }}">
        {% endfor %}
    </div>
</div>
