// Colours
$body-background-color: #151515;
$body-text-color: #ffffff;
$main-border-color: #454545;
$theme-color: #34c3d4;
$theme-color-darker: #004750;

// Styles
$main-top-margin: 0px;
$main-max-width: 1100px;
$main-font-size: 14px;
