---
# Styles for about page.
---
@import "fonts";
@import "_main_settings";
@import "_nav_settings";
@import "navbar";
@import "_footer_settings";
@import "footer";
@import "design";

body {
	background-color: $body-background-color;
	background-image: url('/static/img/rebel.png');
	color: $body-text-color;
	font-family: "antipasto", Georgia, Times, "Times New Roman", serif;
	font-weight: lighter;
	font-size: 16px;
	margin: 0;
}
a {
    text-decoration: none;
    color: $body-text-color;
}
p {
	line-height: 1.05;
}
h1, h2 {
	font-weight: normal;
}
.hidden {
    display: none !important;
}

.container {
    margin: 0 auto;
    margin-top: $nav-height + $nav-top-margin + 60px;
    max-width: $main-max-width;
}

.about_container {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;

    .about-text {
        margin-top: 30px;
    }
}

.small .container {
    margin-top: $nav-height + $nav-top-margin + 30px;
    .about_container {
        margin-top: 0px;
    }
}
