.design-sheet {
    position: relative;;

    .design {
        position: absolute;
    }

    .d1 {
        width: 150px;
        border-top: 1px solid $theme-color;
        top: 30px;
        right: 30px;
    }
    .d2 {
        height: 50px;
        border-right: 1px solid $theme-color-darker;
        top: 20px;
        right: 50px;
    }
}

.small .design-sheet {
    .d1, .d2 {
        display: none;
    }
}
