// Scada
@font-face {
    font-family:"Scada";
    src: url("../fonts/scada/Scada-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"Scada";
    src: url("../fonts/scada/Scada-Bold.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:"Scada";
    src: url("../fonts/scada/Scada-Italic.otf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family:"Scada";
    src: url("../fonts/scada/Scada-BoldItalic.otf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

// Latin-Modern
@font-face {
    font-family:"latin-sans";
    src: url("../fonts/latin/lmsans10-regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"latin-sans";
    src: url("../fonts/latin/lmsans10-bold.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Didcot
@font-face {
    font-family:"didcot";
    src: url("../fonts/Didot-HTF-B06-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+30-39;
}

// Antipasto
@font-face {
    font-family:"antipasto";
    src: url("../fonts/antipasto/AntipastoPro-Medium_trial.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"antipasto";
    src: url("../fonts/antipasto/AntipastoPro-Bold_trial.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:"antipasto";
    src: url("../fonts/antipasto/AntipastoPro-Extralight_trial.ttf") format('truetype');
    font-weight: lighter;
    font-style: normal;
}
