#footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: $footer-width;
    margin: 0 auto;
    margin-top: $footer-margin-top;
    margin-bottom: $footer-margin-bottom;
    padding: $footer-padding;
    background-color: $footer-color;
    border: $footer-border-width solid $footer-border-color-adj;
    border-radius: $footer-border-radius;
    opacity: $footer-opacity;

    .footer-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        #contact {
			margin-left: 7px;
            font-size: $footer-contact-font-size;
            color: #ffffff;
        }
        #social {
            > a {
                opacity: 0.8;
            }
            > a:hover {
                opacity: 1;
            }
        }
    }
}
.footer-sub {
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
}
.small #footer {
    margin-top: 30px;
    margin-bottom: 10px;
    width: $footer-width - 10%;
    align-items: center;

    .footer-main {
        flex-direction: column;

        #contact {
            text-align: center;
        }

        #social {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
