.info_top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;

    .info_top-text {

        .info_top-title {
            margin-left: 20px;
            margin-top: 0;
        }

        ul {
            margin-bottom: 50px;
            padding-left: 20px;
            li {
                font-size: 18px;
				font-family: "antipasto", Georgia, Times, "Times New Roman", serif;
            }
        }
    }

    .brands {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;

        > img {
            height: 80px;
        }
    }
}

.small .info_top {
    margin-top: 25px;

    .info_top-text {
        h2 {
            font-size: 14px;
        }
        ul {
            margin-bottom: 20px;
            > li {
                font-size: 12px;
            }
        }
    }


    .brands {

        > img {
            height: 25px;
        }
    }
}
