.main-text {
  font-size: 110%;
}

.main-header {
  margin-bottom: 40px;
}

.project-box {
  padding: 0;
}

.project-link {
  margin: 1em;
  border: 2px solid black;
}

.project {
    padding-top: 100px;
}

#home {
  background-color: rgb(34, 34, 34);
  padding-top: 80px;
}

#projects {
  background: rgba(216, 214, 214, 0.5);
  padding-bottom: 30px
}

#blog {
  background: rgba(216, 214, 214, 1);
}
