@font-face {
    font-family:"Quicksand";
    src: url("../fonts/Quicksand-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"Quicksand-Bold";
    src: url("../fonts/Quicksand-Bold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family:'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', verdana;
}

a > li {
    font-family: 'Quicksand', verdana;
}

body {
    background-image: url("grungy_paper1.png");
    background-position: center;
}

.main-text {
  font-size: 110%;
}

.main-header {
  margin-bottom: 40px;
}

.title_logo {
    width: 14em;
    height: auto;
}

.about_sec {
}

.about_sec img {
    float: right;
    margin: 10px;
    width: 13em;
    height: auto;
    border: solid 3px rgb(69, 69, 69);
    border-radius: 4px;
}

@media screen and (max-width: 480px) {
    .about_sec img {
        width: 6em;
    }
}

.logo {
    width: 4em;
    height: auto;
}

.logo_sec {
    margin: 2em;
    margin-bottom: 0;
    padding-bottom: 1em;
    width: auto;
    border-bottom: solid 1px rgb(69, 69, 69);
}

.project-box {
}

.project-link {
  margin: 1.5em;
  border: solid 2px rgb(51, 48, 46);
  border-radius: 1px;
  box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.86);
}

.project-header {
}

.project_img_link {
    margin-bottom: 2em;
    display: block;
    max-width: 30em;
    cursor: pointer;
    border: 2px solid black;
}

.project_img_link .portfolio-box-caption {
    opacity: 0.6;
}

.project_container {
    max-width: 60em;
    margin-top: 100px;
}

.project_video {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
.h_iframe {
    position:relative;
}

.h_iframe .ratio {
    display:block;
    width:100%;
    height:auto;
}

.h_iframe iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.gallery-link {
    margin: 1.5em;
    border: solid 2px rgb(51, 48, 46);
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgba(42, 42, 42, 0.86);
}

.credentials {
    border-top: 1px solid black;
    padding-top: 2ex;
    font-size: 1em;
}

.gallery-img {
    width: 450px;
    border: 2px solid black;
}

.gall_contain {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gall_title {
    margin-left: 20px;
}

.gall_link_sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.gall_link {
    flex: 0 0 200px;
}

.gallery-header {
    margin-top: 10%;
    color: Black;
    font-weight: bolder;
}

.contact_details {
    padding-top: 1em;
    font-size: 1.7em;
    font-family:'Quicksand-Bold', sans-serif;
}

@media screen and (max-width: 480px) {
    .contact_details {
        font-size: 1em;
    }
}

.social_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
}

.icon_link {
    margin: 0 3px 0 3px;
    display: block;
    position: relative;
}

.icon_img {
    display: block;
    max-width: 100%;
    height: auto;
}

#contact {
    margin-top: 10ex;
}

#footer-sec {
    margin-bottom: 3em
}

#gall-carousel {

}

#gallery {
}

#home {
  padding-top: 78px;
}

#projects {
  padding: 30px
}

#blog {
}

#footer_note {
    float: right;
    padding-right: 2em;
}

#gall-carousel-sec {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

#gall-carousel-sec .carousel-inner {
    margin-top: 10%;
    height: 50%;
    width: 50%;
    border: solid 1px black;
    border-radius: 1px;
}

#carousel-sec {
    margin-top: 35px;
}
