---
layout: default
---
{% include project_navbar.html %}
{% assign gallery_dir = '/assets/img/gallery' %}

<header id="gall-carousel-sec" class="carousel">

    <h1 class="gallery-header">{{ page.title }}</h1>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    {% for url in page.image_urls %}
        {% if forloop.first %}
            <div class="item active">
        {% else %}
            <div class="item">
        {% endif %}
            <div class="fill" style="background-image:url('{{ gallery_dir }}/{{ page.image_dir }}/{{ url }}');"></div>
        </div>

    {% endfor %}
</div>

<!-- Controls -->
<a class="cust-left carousel-control" href="#gall-carousel-sec" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="cust-right carousel-control" href="#gall-carousel-sec" data-slide="next">
    <span class="icon-next"></span>
</a>

</header>
