---
layout: default
---
{% include project_navbar.html %}

 <div class="container project_container">

    <h3 class="project-header">{{ page.title }}</h3>

    <div class="project_video">
        <div class="h_iframe">
            <img class="ratio" src="{{ page.thumbnail }}"/>
            <iframe frameborder="0" allowfullscreen
                src="{{ page.youtube }}">
            </iframe>

        </div>
  </div>

  <div class="row text-center" >
      <div class="col-sm-12">
          <p>{{ content }}</p>
      </div>
  </div>

  <div class="row" >
      <div class="col-md-12">
          <p class="credentials">
              {{ page.credentials }}
          </p>
      </div>
  </div>

</div>
